@import "../components/buttons.styl"
@import "../components/colors.styl"

.login-box
    width 100%
    max-width 500px
    height 100%
    max-height 500px
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    background-color rgba(0,0,0,.4);
    padding 1.5em
    text-align center

.login-form-header
    max-height 80px

.login-form-header img
    max-width 20%;
    float left;
    margin-right .8em;

.login-box .divider
    background-color rgb(55,55,55)
    margin-top 1.5em
    margin-bottom 1.5em

.login-links
    margin-bottom 1em

.btn-floating
    margin-bottom .7em

.btn-floating:not(:last-child)
    margin-right .2em

.horizontal-divider
    margin 1.5em 0

