$big-col1-width= 1 / 12%;
$big-col2-width= 2 / 12%;
$big-col3-width= 3 / 12%;
$big-col4-width= 4 / 12%;
$big-col5-width= 5 / 12%;
$big-col6-width= 6 / 12%;
$big-col7-width= 7 / 12%;
$big-col8-width= 8 / 12%;
$big-col9-width= 9 / 12%;
$big-col10-width= 10 / 12%;
$big-col11-width= 11 / 12%;
$big-col12-width= 12 / 12%;

.auto-col-align {
	margin-left auto;
	left auto;
	right auto;
}

@font-face {
	font-family 'Consolas', monospace;
	src url(https//fonts.googleapis.com/css?family=Inconsolata)
	src url("../../../public/font/Consolas/consola.ttf"), local('Consolas')
}
.ce-font
	font-family Consolas !important

@media only screen and (min-width 993px)
	.row
		.col.b1
			@extend .auto-col-align
			width $big-col1-width
		.col.b2
			@extend .auto-col-align
			width $big-col2-width
		.col.b3
			@extend .auto-col-align
			width $big-col3-width
		.col.b4
			@extend .auto-col-align
			width $big-col4-width
		.col.b5
			@extend .auto-col-align
			width $big-col5-width
		.col.b6
			@extend .auto-col-align
			width $big-col6-width
		.col.b7
			@extend .auto-col-align
			width $big-col7-width
		.col.b8
			@extend .auto-col-align
			width $big-col8-width
		.col.b9
			@extend .auto-col-align
			width $big-col9-width
		.col.b10
			@extend .auto-col-align
			width $big-col10-width
		.col.b11
			@extend .auto-col-align
			width $big-col11-width
		.col.b12
			@extend .auto-col-align
			width $big-col12-width


